# Manage secrets.
python-dotenv==1.0.1

# Build an LLM app.
langchain==0.3.4
langchain-openai==0.2.3
langchain-community==0.3.3

# Add context from a vector store.
faiss-cpu==1.9.0
unstructured[md]==0.16.0

# Secure the app with Pangea.
pangea-sdk==5.1.0

# Enable Authorization Code flow.
Flask==3.0.3
